        /* Fondo del body */

        /* Contenedor del formulario */
        #contenedor-registro {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 100px;
            margin-bottom: 100px;
        }

        .navbar-nav .nav-link {
            text-decoration: none;
        }

        /* Estilo adicional para cuando el enlace está activo o seleccionado */
        .navbar-nav .nav-link.active {
            text-decoration: none;
            /* Asegura que no haya subrayado en el enlace activo */
        }

        /* Opcional: cambio de color al pasar el ratón sobre el enlace */
        .navbar-nav .nav-link:hover {
            text-decoration: none;
            /* Elimina el subrayado cuando se pasa el ratón */
        }

        .navbar {
            width: 100%;
            position: fixed;
            /* Esto hará que el navbar se quede fijo al desplazar la página */
            top: 0;
            left: 0;
            z-index: 1000;
            /* Asegura que el navbar se mantenga por encima de otros elementos */
        }

        .login-container {
            background-color: #333;
            padding: 30px;
            border-radius: 10px;
            width: 100%;
            max-width: 400px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        }

        /* Títulos y textos */
        h2 {
            color: #ffc107;
            margin-bottom: 20px;
        }

        /* Estilos de los campos del formulario */
        .form-control {
            background-color: #444;
            color: #fff;
            border: 1px solid #555;
            border-radius: 5px;
        }

        .form-control:focus {
            background-color: #555;
            border-color: #ffc107;
        }

        /* Estilo del botón */
        .btn-warning {
            background-color: #ffc107;
            border: none;
            border-radius: 5px;
            font-weight: bold;
            transition: background-color 0.3s;
        }

        .btn-warning:hover {
            background-color: #e0a800;
        }

        /* Estilo del enlace de registro */
        a {
            color: #ffc107;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }